.App {
  text-align: center;
}

a.nav-link:link, 
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
  text-decoration: none;
  color: black;
}

.nav-link-active {
  background: darkgray !important;
}
